<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content)">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

  <title>Hello, sbb!</title>
</head>
<body>
<div class="container my-3">
  <th:block th:replace="${content}"></th:block>
</div>
</body>
</html>